.Users{
  font-family: "lato", sans-serif;
  width: 97%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3px 0;
}
.info{
  color: #6C7A89;
  margin: 10px;
  font-size: 35px;
}
.result{
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.previousResult > p{
font-size: 50px;
}
.container {
  max-width: 100%;
  min-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
.responsive-table li {
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.responsive-table .table-header {
  background-color: #a5b8b9;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #dadada;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.col{
  color: black;
  font-weight: 400;
}
.responsive-table .col-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 15px;
}
.responsive-table .col-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 15px;
}
.responsive-table .col-3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 15px;
}
.responsive-table .col-4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 15px;
}
@media all and (min-width: 1001px) {
  .responsive-table .col-1 {
    width: 300px;
  }
  .responsive-table .col-2 {
    width: 400px;
  }
  .responsive-table .col-3 {
    width: 400px;
  }
  .responsive-table .col-4 {
    width: 400px;
    overflow-x: scroll;
  }
}
@media all and (max-width: 1000px) {
  .previousQuestion{
    overflow-x: hidden;
  }
  .responsive-table .table-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container {
    max-width: 100%;
  }
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .responsive-table .col {
    display: flex;
    padding: 5px 0;
  }
  .responsive-table .col{
    min-width: 90%;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  .col{
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    text-align: right;
  }
  .previousResult{
    width: 100%;
  }
  .previousResult > p{
    text-align: center;
    font-size: 30px;
  }
}

@media all and (max-width: 700px) {
  .info{
    color: #6C7A89;
    margin: 10px;
    font-size: 13px;
  }
  .previousQuestion{
    overflow-x: hidden;
  }
  .responsive-table .table-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container {
    max-width: 100%;
  }
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .responsive-table .col {
    display: flex;
    padding: 5px 0;
  }
  .responsive-table .col{
    min-width: 90%;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  .col{
    font-size: 11px;
    width: 100%;
    text-align: center;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    text-align: right;
  }
  .previousResult{
    width: 100%;
  }
  .previousResult > p{
    text-align: center;
    font-size: 30px;
  }
}