.Questions{
    width: 75%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.info{
  color: #6C7A89;
  margin: 10px;
  font-size: 35px;
}

.questionList{
  width: 100%;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px;
  padding-top: 10px ;
  background-color: rgb(194, 194, 194);
}
.questionItem{
  margin: 1px auto;
  padding: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemQuestions{
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(0, 0, 0);
}
.itemQuestionAnswers{
  display: flex;
  width: 100%;
}
.itemQuestion{
  color: whitesmoke;
text-align: center;
}
.questionCode{
  border: 2px solid black;
  width: 100%;
  background-color: whitesmoke;
}
.questionCod{
  color: black;
}
.itemAnswer{
  border-bottom: 0.1px solid black;
}
.itemAnswers{
  border-bottom-right-radius: 15px;
}
.itemTrueAnswers{
  border-bottom-left-radius: 15px;
}

.itemAnswers,.itemTrueAnswers{
  width: 50%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
.itemAnswer{
  width: 100%;
  /* overflow-x: scroll; */
  color: black;
  text-align: center;
  width: 80%;
  margin: 2px auto;
  
}
.itemTrueAnswer{
  width: 100%;
  overflow-x: scroll;
  color: black;
  text-align: center;
  margin: auto;
}
.h1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  .questionTypeButton{
      color: rgb(255, 255, 255);
      border: 1px solid black;
      background-color: rgb(0, 0, 0);
  }
  .questionTypeButton:hover {
    color: rgb(0, 0, 0);
    background-color: #f5f5f5;
  }
  @media only screen and (max-width: 720px) {
    .info{
      color: #6C7A89;
      margin: 10px;
      font-size: 13px;
    }
    .Questions{
      width:100%;
  }
  .itemQuestion{
    font-size: 15px;
    margin: 7px;
    text-align: center;
  }
  .questionCod{
    font-size: 12px;
  }
  .itemTrueAnswer{
    font-size: 10px;
  }
  .itemAnswer{
    font-size: 10px;
    border-bottom: 0.1px solid black;
  }
  }
  
  ::-webkit-scrollbar {
    display: none;
  } 
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.438); 
  } 
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(187, 177, 177, 0.548); 
  }