.btn {
    position: relative;
    background: #0EBEFF;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    min-width: 200px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    box-shadow: 1px 1px 4px 1px transparent;
    -webkit-transition: box-shadow 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out;
  }
  .btn:hover {
    box-shadow: 1px 1px 6px 1px #ccc;
  }
  .btn:before {
    content: 'SENT';
    position: absolute;
    z-index: 500;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    color: #fff;
    letter-spacing: 1px;
    opacity: 0;
    -webkit-transition: none;
    transition: none;
  }
  .btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    opacity: 0;
    height: 100%;
    overflow: hidden;
    background-color: #0EBEFF;
    border-radius: 50px;
    -webkit-transition: width 10ms 600ms ease-in-out, background-color 300ms ease-in, opacity 250ms 300ms ease-in;
    transition: width 10ms 600ms ease-in-out, background-color 300ms ease-in, opacity 250ms 300ms ease-in;
  }
  
  .is-active {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    background-color: #fff;
    box-shadow: 1px 1px 4px 1px transparent !important;
    -webkit-transition: background-color 300ms ease-in, -webkit-transform 300ms ease-in-out;
    transition: background-color 300ms ease-in, -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, background-color 300ms ease-in;
    transition: transform 300ms ease-in-out, background-color 300ms ease-in, -webkit-transform 300ms ease-in-out;
  }
  .is-active:after {
    opacity: 1;
    background-color: rgb(20, 143, 214);
    width: 100%;
    -webkit-transition: width 1s 0.5s ease-in-out, background-color 300ms 300ms ease-in, opacity 250ms 300ms ease-in;
    transition: width 1s 0.5s ease-in-out, background-color 300ms 300ms ease-in, opacity 250ms 300ms ease-in;
  }
  .is-active:before {
    opacity: 1;
    -webkit-transition: opacity 250ms 1.5s ease-in;
    transition: opacity 250ms 1.5s ease-in;
  }
@media only screen and (max-width: 450px) {
  .btn {
    min-width: 150px;
    padding: 7px 0;
    font-size: 15px;
    font-weight: 350;
  }
}