.login {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin-top: -50px;
  color: 3f3f3f;
  overflow: hidden;
}
.login:after {
  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0f6fff, #270fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-weight: 300;
}
.errore{
  font-size: 15px;
}
.form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

button {
  margin: 7px;
  border-radius: 6px;
  padding: 12px 24px;
  background: #ffffff25;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
  transition: transform 80ms ease-in;
}
button:hover {
  background: #fff;
  color: rgb(0, 0, 0);
}
button:active {
  transform: scale(0.95);
}

input {
  background: transparent;
  border-radius: 10px;
  padding: 13px 16px;
  background-color: #465481;
  border: none;
  font-size: 15px;
  margin: 7px;
  width: 100%;
  outline-style: none;
  color: white;
}
input::placeholder {
  color: white;

}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.form-container.sign-in-container {
  left: 0;
  width: 60%;
  z-index: 2;
}
.form-container.sign-up-container {
  left: 0;
  width: 60%;
  opacity: 0;
  z-index: 1;
}
.form-container button {
  background: linear-gradient(270deg, #270fff, #0f6fff);
  border: 1px solid rgb(116, 116, 116);
  color: rgb(255, 255, 255);
}
.form-container button:hover {
  background: transparent;
  color: rgb(0, 0, 0);
}

.container.right-panel-active .sign-in-container {
  transform: translateX(66.5%);
}
.container.right-panel-active .sign-up-container {
  transform: translateX(66.5%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay-container .overlay{

  background-color: #f1c40f;
  -webkit-animation: color 5s ease-in  0s infinite alternate running;
  -moz-animation: color 5s linear  0s infinite alternate running;
  animation: color 5s linear  0s infinite alternate running;
}
@-webkit-keyframes color {
  0% { background-color: rgb(32, 42, 104); }
  32% { background-color: rgb(30, 41, 116); }
  55% { background-color: rgb(28, 44, 145); }
  76% { background-color: rgb(32,49,158); }
  100% { background-color:rgb(29,49,181); }
}
@-moz-keyframes color {
  0% { background-color: rgb(32, 42, 104); }
  32% { background-color: rgb(30, 41, 116); }
  55% { background-color: rgb(28, 44, 145); }
  76% { background-color: rgb(32,49,158); }
  100% { background-color:rgb(29,49,181); }
}
@keyframes color {
  0% { background-color: rgb(32, 42, 104); }
  32% { background-color: rgb(30, 41, 116); }
  55% { background-color: rgb(28, 44, 145); }
  76% { background-color: rgb(32,49,158); }
  100% { background-color:rgb(29,49,181); }
}

.overlay-container .overlay {
  /* background: linear-gradient(-45deg, #504f4f, rgb(117, 117, 117), #ffffff); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  left: -150%;
  height: 100%;
  width: 250%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-container .overlay .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 40%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-container .overlay .overlay-panel.overlay-left {
  transform: translateX(-20%);
}
.overlay-container .overlay .overlay-panel.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-container {
  transform: translateX(-150%);
}
.container.right-panel-active .overlay-container .overlay {
  transform: translateX(60%);
}
.container.right-panel-active .overlay-container .overlay .overlay-left {
  transform: translateX(0);
}
.container.right-panel-active .overlay-container .overlay .overlay-right {
  transform: translateX(20%);
}

.bg-bubbles > li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 1;
}
.li:nth-child(1) {
  left: 10%;
}
.li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.li:nth-child(5) {
  left: 70%;
}
.li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

@keyframes show {
  0%,
	39.99% {
    opacity: 0;
    z-index: 1;
  }
  40%,
	100% {
    opacity: 1;
    z-index: 5;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}
