@import url("https://fonts.googleapis.com/css?family=Raleway:400");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    min-height: 110vh;
	background:linear-gradient(190deg,#0c0549,#134899 ) no-repeat;
}
